.manage_movies_container {
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: "Roboto", sans-serif;
}


._manage_title_container {
    margin-left: 20%;
    margin-top: 15%;
}

._form_container {
    background-color: #221f1f;
    height: 40%;
    margin-left: 15%;
    max-width: 60%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20%;
}

._inputs_container {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    justify-items: center;
    align-items: center;
}
._search_button {
    cursor:pointer;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 17px;
    grid-column: span 2;
    height: 50px;
    position: relative;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #6d6b6b
}

._button_container {
    padding-top: 10%;
    text-align: center;
}

._table_tr{
    position:sticky;
    top: 0;
    font-size: 15px;
    border-radius: 10px;
    color: #a7a4a4;
}

._movies_table_container {
    margin-top: 10%;
    margin-left: 10%;
    width: 1000px;
    height: 70%;
    overflow-x: hidden;
    background-color: #221f1f;
}

._movies_table {
    color: rgb(255, 255, 255);
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    max-height: 100%;
    text-align: center;    
}

._movies_table th {
    height: 50px;
    background-color: #221f1f;
    
}
._movies_table tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    height: 50px;
    &:hover {
        color: #6d6b6b;
    }
}

._movies_table td {
    padding: 10px;
    height: 30px;
}

._options_buttons_container {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

.movie_modal {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 600px;
    height: 600px;
    background-color: #221f1f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: white;

}

._modal_title_continer {
    text-align: center;
}

._input_group_modal {
    padding-top: 20px;
}

._input_group_modal input {
    position: relative;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #6d6b6b;
    color: aliceblue;
    font-size: 15px;
    height: 42px;
    padding: 5px;
}

._input_group_modal label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

._input_group_modal input[type="date"], input[type="number"] {
    width: 220px;
}