.principalFont {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932),rgba(0, 0, 0, 0.692)), url(/src/assets/images/mainpage.png);
}

.moviesSquare {
    position: absolute;
    width: 512px;
    height: 767px;
    left: 180px;
    top: 120px;
    

    background-image: url(/src/assets/images/movie0.jpg);
    background-size:contain;
    background-position: center;

    border-radius: 20px;

    transition: 100s;

    animation-name: animated-movies;
    animation-direction:normal;
    animation-duration: 40s;
    animation-delay: 1s;

    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function:ease;
    

}

@keyframes animated-movies {
    0% {background-image: url(/src/assets/images/movie0.jpg);}
    10% {background-image: url(/src/assets/images/movie1.jpg);}
    20% {background-image: url(/src/assets/images/movie2.jpg);}
    30% {background-image: url(/src/assets/images/movie3.jpg);}
    40% {background-image: url(/src/assets/images/movie4.jpg);}
    50% {background-image: url(/src/assets/images/movie5.jpg);}
    60% {background-image: url(/src/assets/images/movie6.jpeg);}
    70% {background-image: url(/src/assets/images/movie7.jpg);}
    80% {background-image: url(/src/assets/images/movie8.jpg);}
    90% {background-image: url(/src/assets/images/movie9.jpg);}
    100% {background-image: url(/src/assets/images/movie10.jpg);}

}

.crudSquare {
    position: absolute;
    width: 700px;
    height: 767px;
    left: 1100px;
    top: 120px;
    background-color: black;
    opacity: 0.9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 
    1px 1px 1px 1px rgba(0, 0, 0, 0.2), /* Sombra superior e izquierda */
    1px 1px 1px 1px rgba(82, 5, 5, 0.966);
}

.logo {
    background-image: url(/src/assets/images/logo.png);
    background-size:250px;
    background-position: center;
    position: absolute;
    left: 9%;
    width:250px;
    height: 70px;
    
}

h1 {
    font-family:'Trebuchet MS', sans-serif;
    font-size:40px;
    color: rgb(255, 255, 255);
    font-style: bold;
    text-align: center;
}

h2 {
    font-family:'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-style: bold;
    text-align: center;
}


.buttons {
    position: absolute;
    width: 300px;
    height: 50px;
    font-family:'Trebuchet MS', sans-serif;
    border: 0px;
    font-style: bold;
    color: aliceblue;
    font-size:20px;
    background-color:rgba(255, 0, 0, 0.596);
    border-radius: 5px;
    box-shadow: 
    1px 1px 1px 1px rgba(0, 0, 0, 0.2), 
    1px 1px 1px 1px rgba(36, 2, 2, 0.966);

    cursor:pointer;
}

.resultButtons {
    background-color:rgba(5, 5, 29, 0.596);
    border-color: #0b153f34;
    color: aliceblue;
    border-radius: 5px;
    cursor:pointer; 
}

.deleteButtons {
    background-color:rgb(158, 0, 0);
    border-color: #0b153f34;
    color: aliceblue;
    border-radius: 5px;
    cursor:pointer; 
}
.modifyButtons {
    background-color:rgb(119, 128, 0);
    border-color: #0b153f34;
    color: aliceblue;
    border-radius: 5px;
    cursor:pointer;
}


.operativeFont {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1)), url(/src/assets/images/fondo2.png);
}


.formsSquare {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 70px;
    background-color: rgba(0, 0, 0, 0.644);
    

    display: flex;
    justify-content: center;

    box-shadow: 
    0px 1px 1px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 1px rgba(82, 5, 5, 0.966);
}

.resultsSquare {
    position: absolute;
    width:800px;
    height: 667px;
    left: 1050px;
    top: 130px;
    background-color:rgba(2, 8, 12, 0.911);
    border-radius: 2px;
    border: 2px;
    border-color: #00000021;

    display: flex;
    justify-content: center;

    box-shadow: 
    0px -1px 1px 1px rgba(215, 218, 223, 0.055),
    0px -2px 1px 1px rgba(43, 0, 0, 0.945);
    overflow-y: scroll;
    
    
}

.resultsTable {
    color: rgb(248, 248, 248);
    text-align: center;
    font-size: large;
    width: 800px;
    height: 600px;
    border-collapse: collapse;
    scroll-margin: 0px;

}
.genreTable {
    background-color: rgba(99, 16, 62, 0.486);
    color: aliceblue;
    width: 200px;
    height: 350px;
}

.selectGenre {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 21px;
}

tbody tr {
    background-color: rgba(12, 2, 2, 0.13);
    color: rgb(255, 255, 255);
    height: 30px;
    text-overflow: ellipsis;
    


}



.table-header {
    position:sticky;
    top: 0;
    overflow-x: scroll;
    background-color: #e73d3d;
    font-size: 21px;
    border-radius: 10px;
}


  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(1, 3, 12);
    border-radius: 1px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ee9292;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8d0c0c;
  }
.NavBar {
    background-color:rgba(0, 0, 0, 0.644);
    border-radius: 1px;
    border-color: #8d0c0c;
    width: 100%;
    height: 70px;

    
}
  .resultModal {
    width: 1200px;
    height: 700px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

  }

  .navButton {
    background-color: #00000000;
    border: 0;
    color: aliceblue;
    font-family:'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    
  }

.inputModal {
    background-color:rgba(112, 107, 107, 0.521);
    font-family:'Trebuchet MS', sans-serif;
    font-size: 21px;
    height: 30px;
    border: 0;
    color:aliceblue;
    border-radius: 2px;
}